@use './globals' as *;

.main-container {
  height: 93dvh;
}

.layout-container {
  height: 100%;
  display: flex;

  .layout-item {
    flex: 1;
  }
  .big {
    flex: 2;
  }
}

@media (max-width: 764px) {
  .layout-container {
    flex-direction: column;
  }
}
